<aside id="newReferenceAside" class="otherChoices">
  <h6>Related Recipes</h6>
  
  {% if related %}

  <p>If this recipe was to your liking you may like the item(s) shown below&hellip;</p>
  
  {% set kitnbaboodle = collections.all %}
  
  <ul>
  {%- for post in kitnbaboodle -%}
  {% set keyword = post.fileSlug %}
    {%- for item in related -%}
      {% if keyword.indexOf(item) != -1 %}
      <li>
        <span class="noHackButton">
          <a href="{{ post.url }}" class="alphaGradient" title="Link to the {{ post.data.title }} page.">
            <img src="/assets/images/mini.png" alt="" /> 
            {{ post.data.title }}
          </a>
        </span>
      </li>
      {% endif %}
    {%- endfor -%}
  {%- endfor -%}
  </ul>

  {% else %}

  <p>There are no related recipes.</p>
  {% endif %}

</aside>