{%- for post in postslist | reverse -%}
<div>
  <a href="{{post.url | url}}">
    {% if post.data.title %}
      {{ post.data.title }}
    {% else %}
      <code>
      {{ post.url }}
      </code>
    {% endif %}
  </a>
  &nbsp;
  <time datetime="{{ post.date | customHtmlDateString }}">{{ post.date | customReadableDate }}</time>
  &nbsp;
  {%- for tag in post.data.tags -%}
    {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{tag}}/{% endset %}
      <a href="{{tagUrl}}">{{tag}}</a>
      &nbsp;
    {%- endif -%}
  {%- endfor -%}
</div>
{%- endfor -%}