<ol id="oscarShow">
  {%- for post in gallerylist | reverse -%}
    {% set imageUrl %}/assets/images/dishes/{{ post.fileSlug }}.jpg{% endset %}
    <li>
      <a href=" {{ post.url | url }} ">
        <img src="{{ imageUrl }}" />
      </a>
    </li>
  {%- endfor -%}
</ol>