<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if title %}
      {{ title }} &#45; Simple Recipes 11ty
    {% elif renderData.title %}
      {{ renderData.title }} &#45; Simple Recipes 11ty
    {% else %}
       Simple Recipes 11ty
    {% endif %}
  </title>
  {% include "styling-elements.njk" %}
</head>