<h1 id="logo">
  <a href="/">
    <strong class="fakingruuvinOne">
      <span class="firstCallOut">Simple</span>               
    </strong>
    <strong class="fakingruuvinTwo">
      <span class="secondCallOut">Recipes</span>
    </strong>
    <br/>
    <strong class="fakingruuvinThree">
      <span class="thirdCallOut">11ty</span>
    </strong>
  </a>
</h1>