<div id="newImageDiv">
  {% set imageUrl %}/assets/images/dishes/{{ page.fileSlug }}.jpg{% endset %}
  {% set altText %}Picture of {{ title }}{% endset %}
  <img src="{{ imageUrl }}" alt="{{ altText }}" />
</div>