<section id="introduction">
  <div id="resistant" class="inner">
    <h2> You&rsquo;re probably thinkin&rsquo;&hellip; <em id="justInCase">&ldquo;I got this!!!&rdquo; </em></h2>
    <div id="introPapa">
      {{ intro_paragraph | safe }}
    </div>
  </div>
</section>