<section id="mainContent">

  <h3 id="hotelThree">
    <strong id="sierra">
      Simple recipes presentation with <abbr id="11ty" title="Eleventy">11ty</abbr>
    </strong>
  </h3>

  <div id="loadicon">
  </div>

  {% set gallerylist = collections.posts %}
  {% include "gallerylist.njk" %}

</section>