---
title: Beans
date: 2020-04-20
excerpt: Beans, beans! They're good for the heart! The more you eat the more you&hellip;
permalink: /beans/
tags: 
  - side-dish
  - intermediate
layout: blog.njk
author: don Lucho
related:
  - pasta-e-fagioli
---

{% include "section-other-a.njk" %}

{# {% include "section-other-b.njk" %} #}
<section id="newPresentation">
  
  <h4>
    <strong>
      Chow down&hellip;&nbsp;
      <abbr title="and">&amp;</abbr>
       be proud
    </strong>
  </h4>

  <div id="flexipea">

    <h5>Supplies</h5>

    <ul>
      <li><span>Pressure cooker</span></li>
      <li><span>Pyrex cup (for measuring water and beans, etc.)</span></li>
      <li><span>Spaghetti spoon (pasta fork) OR long wooden ladle</span></li>
      <li><span>Small plate</span></li>
    </ul>

    <h5>Ingredients</h5> 

    <ul>
      <li><span>beans&#45;&#45; red or white, 2 cups (500ml), filtered and rinsed</span></li>
      <li><span>water, 80 oz. (10 cups) to &frac34; gallon, cold</span></li>
      <li><span>Yellow onion (medium&#45;large), 1 to 2 peeled layers</span></li>
      <li><span>Garlic, 2 to 3 cloves, peeled and crushed</span></li>
      <li><span>Oregano, 2 to 4 leaves, fresh or sun&#45;dried</span></li>
      <li><span>Celery, 1 stalk with leaves, rinsed</span></li>
      <li><span>Coyote Cilantro (a\k\a Mexican coriander), 2 leaves, rinsed and whole</span></li>
      <li><span>salt, 2 to 2 &frac12; tsp.</span></li>
    </ul>
  
    <h5>Directions</h5> 
  
    <div>Ensure that on a dry surface that small pebbles and broken beans are separated from the good batch.</div>
    <div>In the pressure cooker, add the salt and &frac12; gallon of water and stir to dissolve.</div>
    <div>Add the beans, onion, garlic, oregano leaves, celery, coyote cilantro and the remaining water.</div>
    <div>Cover and seal the pressure cooker heat on burner over medium flame ( 6 on a 10 scale ).</div>
    <div>Once the pressure cooker &quot;bell&quot; on top begins to make &quot;that rhythmic sound,&quot; do not reduce the heat and heat over constant flame for the next 25 minutes.</div>
    <div>When the time has concluded, DO NOT remove the pressure cooker from the burner and allow the pressure cooker valve to lower and reset.</div>
    <div>When you are able to open the lid, with the pasta fork begin to take out the floating spices such as the garlic, celery, and mexican coriander leaves and rest them on a small plate.</div>
    <div>Serve and enjoy.</div>


    <h5>Author&rsquo;s Comments</h5> 
    
    <ul>
      <li><span>This is our humble AND super&#45;simple recipe for preparing homemade beans;</span></li>
      <li><span>I learned this recipe from each my mom and dad over the years;</span></li>
      <li><span>If your pressure cooker has a leak or your stove&#45;top burner is deficient, you shall add more time;</span></li>
      <li><span>Works just as well with white beans similar to red beans. Mix it up if it&rsquo;ll make your heart content.</span></li>
    </ul>

  </div>

</section>