---
title: Rice
date: 2020-04-18
excerpt: I don't need no stinking rice cooker, fool! It's time for the real deal. 
permalink: /rice/
tags: 
  - side-dish
  - intermediate
layout: blog.njk
author: don Lucho
---

{% include "section-other-a.njk" %}

{# {% include "section-other-b.njk" %} #}
<section id="newPresentation">
  
  <h4>
    <strong>
      Chow down&hellip;&nbsp;
      <abbr title="and">&amp;</abbr>
       be proud
    </strong>
  </h4>

  <div id="flexipea">

    <h5>Supplies</h5>

    <ul>
      <li><span>Medium sized pot with a lid</span></li>
      <li><span>Wooden spoon (for mixing hot ingredients save you want to ingest plastic which would be your choice)</span></li>
      <li><span>Tea kettle (for boiling water)</span></li>
      <li><span>Pyrex cup (for measuring water, etc)</span></li>
    </ul>

    <h5>Ingredients</h5> 

    <ul>
      <li><span>Rice, 2 &frac12; cups (canela rice)</span></li>
      <li><span>salt, 2 tsp.</span></li>
      <li><span>&frac12; medium&#45;large onion, finely chopped </span></li>
      <li><span>Garlic, two to four cloves, peeled and finely chopped</span></li>
      <li><span>sweet pepper, (4) finger&#45;sized slivers</span></li>
      <li><span>vegetable oil, &frac14; cup</span></li>
      <li><span>water, 3 &frac12; cups (slightly less than 1 liter)</span></li>
      <li><span>[optional] &#45; Cilantro/Corriander, 2&#45;4 leaves finely chopped</span></li>
      <li><span>[optional] &#45; Potato, 2 small&#45;sized, chopped into little squares</span></li>
    </ul>
  
    <h5>Directions</h5> 
  
    <div>Bring all of the water to a boil, set aside, and maintain it hot.</div>
    <div>Heat the pot over medium flame ( 5 on 10 scale ) for about 3 minutes.</div>
    <div>Add the oil and heat for 1 minute. Test the heat with a piece of onion.</div>
    <div>Perform all of the following steps within the span of three (3) minutes:</div>
    
    <div>* Add the chopped onion and stir until it begins to turn translucent in color.</div>
    <div>* Make a hole in the middle of the onion, and add the chopped garlic to the center (allowing it to brown slightly for 15 seconds), then, stir it all, too, without burning it.</div>
    <div>* Add the rice and stir thoroughly for about one minute.</div>
    <div>* Add the salt and stir together with the previous ingredients.</div>
    <div>* [optional] Add in the cilantro and stir it in with the other ingredients.</div>
    
    <div>Carefully pour in all of the hot water to the ingredients WITHOUT getting scalded by the steam.</div>
    <div>[optional] Add in the chopped potato and distribute the bits throughout.</div>
    <div>Drop in the sweet pepper and distribute them away from one another.</div>
    <div>Cover the pot with a lid, reduce heat to low ( 1.5 on 10 scale ), and let simmer for 25 minutes.</div>
    <div>Serve it hot when ready.</div>


    <h5>Author&rsquo;s Comments</h5> 

    <ul>
      <li><span>For one sitting sans any leftovers, you can partition the ingredients in half (I WANT HALF, EDDIE!!!)</span></li>
      <li><span>This is our humble AND super&#45;simple recipe for preparing homemade rice.</span></li>
      <li><span>I learned this recipe from both of my parents over the years.</span></li>
      <li><span>This recipe&#45;&#45; as is &#45;&#45;prepared on a stove top is my mom&rsquo;s.</span></li>
      <li><span>Dad&rsquo;s recipe involved oven baking the pot of rice at 375&deg;F. for the same duration of time subsequent to adding the water in lieu of cooking it on the stove top.</span></li>
      <li><span>The rice should not be soggy (which means you added too much water)</span></li>
      <li><span>The rice should not be parched, dry or burnt especially (you added too little water)</span></li>
    </ul>

  </div>

</section>