<!DOCTYPE html>
<html lang="en">
{% include "head.njk" %}
<body>
  <article>
    <div id="elastic" class="outer">
      {{ content | safe }}
      {% include "footer.njk" %}
    </div>
  </article>
</body>
</html>