---
title: Chicken Fingers
date: 2020-05-05
excerpt: How to make tasty chicken fingers! Bok-bok-bok, BOK-KAHHH!!!
permalink: /chicken-fingers/
tags: 
  - main-dish
  - chicken
  - beginner
layout: blog.njk
author: don Lucho
---



{% include "section-other-a.njk" %}

{# {% include "section-other-b.njk" %} #}

<section id="newPresentation">
  
  <h4>
    <strong>
      Chow down&hellip;&nbsp;
      <abbr title="and">&amp;</abbr>
       be proud
    </strong>
  </h4>

  <div id="flexipea">

    <h5>Supplies</h5>

    <ul>
      <li><span>Small cereal bowls (2)</span></li>
      <li><span>Small ziploc re&#45;sealable bag, for freezer storage</span></li>
      <li><span>Wooden ladle</span></li>
      <li><span>1 teaspoon</span></li>
      <li><span>1 or 2 dinner forks</span></li>
      <li><span>Grease&#45;spatter cover</span></li>
      <li><span>Brown paper bag, cut to shape with scissors to cover/reinforce and or drip/drain cooked chicken</span></li>
      <li><span>Dinner plate (2)</span></li>
    </ul>

    
    <h5>Ingredients&#45; Egg bath</h5> 

    <ul>
      <li><span>1 egg</span></li>
      <li><span>&frac12; tsp. salt, as needed</span></li>
      <li><span>&frac12; tsp. freshly ground black pepper, as needed</span></li>
    </ul>

    <h5>Directions&#45; Egg bath</h5>
  
    <div>Combine the egg, salt and pepper and whisk the ingredients with a fork in a small pyrex or bowl for single use, then, put aside.</div>

    <h5>Ingredients&#45; Batter</h5> 

    <ul>
      <li><span>&frac14; cup all&#45;purpose flour</span></li>
      <li><span>&frac12; tsp. salt, as needed</span></li>
      <li><span>&frac12; tsp. freshly ground black pepper, as needed</span></li>
      <li><span>&frac12; tsp. dried oregano, crumbled or 2 tbsp. fresh oregano, chopped</span></li>
    </ul>

    <h5>Directions&#45; Batter</h5> 
  
    <div>Combine the flour, salt, pepper, and oregano and stir well with a dry fork, then, put aside. </div>
    <div>You can optionally store any excess quantities in a re&#45;sealable ziploc&#45;type plastic bag in your freezer properly labeled. </div>


    <h5>Ingredients&#45; Main</h5>  

    <ul>
      <li><span>1 cup oil</span></li>
      <li><span>&frac12; pound, boneless chicken breasts (2)</span></li>
    </ul>
  
    <h5>Directions&#45; Main</h5> 
  
    <div>Let&rsquo;s presume that you are working with one boneless breast, moderately sized, previously cleaned with salt and subsequently rinsed. </div>
    <div>Cut the breast into several evenly proportioned finger sized slivers.</div>
    <div>Place all of the chicken in the egg bath, then, cover each sliver entirely. </div>
    <div>Take out each sliver of chicken and rest each of them on a clean dinner plate.</div>
    <div>In a small bowl, first pour in some of the flour mixture one teaspoon at a time. Start with three teaspoons. Begin taking each of the raw chicken fingers bathed in egg and dip them in the flour. Once covered remove the chicken finger and rest it on another clean dinner plate. </div>
    <div>Repeat as often as is necessary, plus, add in the flour mixture as required until all of the slivers have been covered in flour.</div>
    <div>Then, you will heat the oil in a large skillet or PREFERABLY a small pot over medium (5 or 6 on a 10 scale) heat for at least 5 minutes. </div>
    <div>Begin to cook the chicken for about 5 to 6 minutes on the first side, until lightly brown. </div>
    <div>After you turn the fingers to the second side to cook, you will want to cook for about 4 to 6 minutes more, until the chicken is lightly browned on the second side. </div>


    <h5>Author&rsquo;s Comments</h5> 

    <ul>
      <li><span>For this recipe, I borrowed heavily from a Chicken Marsala recipe that I had put together on a previous occasion.</span></li>
    </ul>
    
  </div>

</section>