---
title: Lasagna
date: 2019-06-04
excerpt: This lasagna is so good, you can eat it cold!
permalink: /lasagna/
tags: 
  - main-dish
  - advanced
layout: blog.njk
author: don Lucho
related:
  - bechamel-sauce
  - margherita-sauce
  - bolognese-sauce
---

{% include "section-other-a.njk" %}

{# {% include "section-other-b.njk" %} #}

<section id="newPresentation">
  
  <h4>
    <strong>
      Chow down&hellip;&nbsp;
      <abbr title="and">&amp;</abbr>
       be proud
    </strong>
  </h4>

  <div id="flexipea">

    <h5>Supplies</h5>

    <ul>
      <li><span>Medium to large lasagna pan or casserole</span></li>
      <li><span>Small cooking pot for bechamel sauce</span></li>
      <li><span>Wide pot for lasagna noodles</span></li>
      <li><span>Large pot for meat sauce</span></li>
      <li><span>2 Wooden ladle(s) for each meat and bechamel sauces</span></li>
    </ul>

    <h5>Ingredients&#45; Lasagna noodles and cheese</h5> 

    <ul>
      <li><span>1 pound lasagna noodles</span></li>
      <li><span>8 to 16 oz. grated mozzarella cheese</span></li>
      <li><span>&frac12; to 1 cup freshly grated Parmesan cheese</span></li>
    </ul>

    <h5>Directions&#45; Lasagna</h5> 
  
    <div>Bring a large pot of salted water to a boil. </div>
    <div>Cook lasagna in the boiling water, stirring occasionally, until cooked through but firm to the bite, according to package directions (about 8 minutes). </div>
    <div>Drain and rinse noodles.</div>
    <div>Set aside in a large bowl or pot of cold water and take them out after 2 to five minutes, then, set aside.</div>

    <h5>Ingredients&#45; B&eacute;chamel Sauce </h5> 

    <ul>
      <li><span>4 tbsp. butter</span></li>
      <li><span>4 tbsp. flour</span></li>
      <li><span>2 cups (&frac12; quart or &frac12; liter) milk</span></li>
      <li><span>&frac12; to 1 tsp. salt</span></li>
      <li><span>&frac12; to 1 tsp. pepper</span></li>
      <li><span>&frac14; tsp. freshly grated nutmeg</span></li>
      <li><span>&frac12; cup (4 oz.), grated parmesan cheese</span></li>
    </ul>
  
    <h5>Directions&#45; B&eacute;chamel Sauce</h5> 
  
    <div>Melt butter in a large saucepan over medium heat. Once melted, stir in the flour until smooth. Continue stirring as the flour cooks to a light, golden, sandy color, for about a minute over low heat to cook out the raw taste of the flour.</div>
    <div>Increase heat to medium-high and slowly whisk in milk until thickened by the roux. Bring to a gentle simmer, [add the parmesan cheese], then reduce heat to medium-low and continue simmering until the flour has softened and not longer tastes gritty, 2 to 5 minutes on the lowest heat until thickened.</div>
    <div>It should coat the back of a spoon and it should not feel grainy when a small amount of sauce is rubbed between your fingers. Keep in mind that the sauce will still thicken after taking the pot off the heat.</div>
    <div>Season with salt, pepper, and nutmeg.</div>
    <div>Try and go for the so-called &quot;parting effect.&quot;</div>
    

    <h5>Ingredients&#45; Meat Sauce </h5> 

    <ul>
      <li><span>1 to 1 &frac12; lb. lean ground beef (2 parts beef, 1 part pork)  </span></li>
      <li><span>&frac12; to &frac34; lb. sweet Italian sausage</span></li>
      <li><span>1 large white onion, minced</span></li>
      <li><span>5 cloves garlic, crushed</span></li>
      <li><span>[either] 1 (28 oz. can) crushed tomatoes</span></li>
      <li><span>[or] 3 cups (24 oz.) diced tomatoes (5 whole)</span></li>
      <li><span>2 (6 oz. can) tomato paste</span></li>
      <li><span>16 oz. tomato sauce</span></li>
      <li><span>&frac12; cup chopped fresh basil</span></li>
      <li><span>1 tsp. fennel seeds</span></li>
      <li><span>1 tsp. ground oregano</span></li>
      <li><span>&frac14; cup fresh parsley, chopped</span></li>
      <li><span>OPTIONAL&#45;&#45; &frac14; tsp. red pepper flakes</span></li>
      <li><span>&frac12; tsp. to 1 tsp. salt</span></li>
      <li><span>&frac12; tsp. to 1 tsp. ground black pepper</span></li>
    </ul>
  
    <h5>Directions&#45; Meat Sauce</h5> 
  
    <div>In a large pot over medium heat, add in ground sausage and ground beef. Use a spoon to break up the meat into small pieces and until meat is browned and crumbly (about 10 minutes).</div>
    <div>Add in onion and garlic and cook until meat is well browned, stirring constantly. </div>
    <div>Stir in fresh basil, fennel, oregano, salt, pepper, and chopped parsley. </div>
    <div>Pour in crushed tomatoes, tomato paste, and tomato sauce. Stir well and bring to a simmer. </div>
    <div>Reduce heat to low and simmer 1 to 4 hours, stirring occasionally.</div>


    <h5>Assembly&#45; Final Phase </h5> 
  
    <div>To assemble do the following:</div>
    <ul>
      <li><span>First, lightly grease the sides of lasagna or casserole with butter.</span></li>
      <li><span>Spread about 1 cup of meat sauce in the bottom of the prepared pan. </span></li>
    </ul>

    <ul>
      <li><span>Then, place 4 noodles on top. </span></li>
      <li><span>Spread with &frac12; bechamel sauce over noodles. </span></li>
      <li><span>Top with &frac14; of mozzarella/parmesan cheese mixture. </span></li>
      <li><span>Spoon 1 &frac12; cups meat sauce over mozzarella, then sprinkle with &frac14; cup parmesan cheese. </span></li>
    </ul>

    <ul>
      <li><span>Then, top with 1/3 the noodles (4 noodles). </span></li>
      <li><span>Spread remaining &frac12; the bechamel sauce over the noodles. </span></li>
      <li><span>Spread &frac14; the meat sauce over the bechamel sauce. </span></li>
    </ul>

    <ul>
      <li><span>Then, to finish it off place last 1/3 the noodles (4 noodles) over sauce and spread remaining &frac14; the sauce over the noodles. </span></li>
      <li><span>And, top it all off with with remaining mozzarella and Parmesan cheese mixture. </span></li>
    </ul>

    <div>Finally, cover loosely with aluminum foil and bake in the preheated oven (at 375&deg;F.) for 30 minutes, then, remove foil and cook until lasagna is golden brown and bubbling, for 30 to 35 more minutes. Let it settle for 20 minutes before serving.</div>


    <h5>Bibliography &amp; Attributions</h5> 
  
    <div>By and large I drew mostly from three different lasagna recipes. The bechamel sauce required a little further reading than I anticipated. They&rsquo;re all listed here.</div>
    
    <div><a href="https://www.youtube.com/watch?v=94d7ZXySplo" target="_blank" rel="noopener noreferrer" title="link to recipe one">Alex on Youtube</a></div>

    <div><a href="https://www.youtube.com/watch?v=zVqunZUuwSs" target="_blank" rel="noopener noreferrer" title="link to recipe two">&quot;Stay At Home Chef&quot; on Youtube</a></div>
    
    <div><a href="https://www.youtube.com/watch?v=BFrkRFgHLVk" target="_blank" rel="noopener noreferrer" title="link to recipe three">Chef John on Youtube</a></div>

    <div>Bechamel Sauce recipes can be found <a href="https://www.allrecipes.com/recipe/139987/basic-bechamel-sauce/" target="_blank" rel="noopener noreferrer" title="here">here</a>, <a href="https://www.wikihow.com/Make-Bechamel-Sauce" target="_blank" rel="noopener noreferrer" title="here">here</a>, and <a href="https://www.everyday-delicious.com/bechamel-sauce/" target="_blank" rel="noopener noreferrer" title="here">here</a>.</div>
    
  </div>

</section>