---
title: Pasta E Fagioli
date: 2019-06-04
excerpt: This ain&rsquo;t your momma&rsquo;s bean soup! 
permalink: /pasta-e-fagioli/
tags: 
  - main-dish
  - advanced
layout: blog.njk
author: don Lucho
related:
  - margherita-sauce
  - beans
---

{% include "section-other-a.njk" %}

{# {% include "section-other-b.njk" %} #}

<section id="newPresentation">
  
  <h4>
    <strong>
      Chow down&hellip;&nbsp;
      <abbr title="and">&amp;</abbr>
       be proud
    </strong>
  </h4>

  <div id="flexipea">

    <h5>Ingredients</h5> 

    <ul>
      <li><span>3 tsp. (oil/butter/margarine)</span></li>
      <li><span>&frac12; pound ground pork</span></li>
      <li><span>&frac12; pound ground beef</span></li>
      <li><span>2 to 4 garlic cloves, chopped</span></li>
      <li><span>&frac34; cup chopped onion, chopped</span></li>
      <li><span>&frac23; cup slivered carrots</span></li>
      <li><span>&frac23; cup diced celery</span></li>
      <li><span>3 cups (24 oz.) diced tomatoes (5 whole)</span></li>
      <li><span>3 cups (24 oz.) spaghetti/tomato sauce</span></li>
      <li><span>&frac34; to 1 cup canned white beans</span></li>
      <li><span>&frac34; to 1 cup canned red beans </span></li>
      <li><span>2 cups broth [ up to 88 oz. beef stock] (in lieu of broth, I use all of the homemade bean gravy from a fresh pot of homemade beans)</span></li>
      <li><span>5 tsp. chopped fresh parsley</span></li>
      <li><span>1 tbsp. basil</span></li>
      <li><span>[optional] &#45; 1 teaspoon bay leaf</span></li>
      <li><span>[optional] &#45; 1 teaspoon thyme</span></li>
      <li><span>1 to 3 tsp. dried oregano</span></li>
      <li><span>2 &frac12; tsp. black pepper</span></li>
      <li><span>1 &frac12; tsp. salt </span></li>
    </ul>
  
    <h5>Directions</h5> 
  
    <div>Heat a large, 10-quart stock pot over medium-high heat. </div>
    <div>Add the oil/butter/margarine and let it heat and/or melt.</div>
    <div>Immediately add the onion, carrots, celery and stir as they become more transluscent (especially the onions and celery).</div>
    <div>Add the ground meat and garlic. Cook, stirring frequently, until the beef starts to brown.</div>
    <div>Add chopped tomatoes and spaghetti sauce. Bring to a simmer and let cook for 10 minutes.</div>
    <div>Add the DRAINED red and white kidney beans.</div>
    <div>Add the two cups of beef stock/BEAN GRAVY or as appropriate.</div>
    <div>Then, add the seasonings including oregano, pepper, salt, parsley, basil (or bay leaf) [and thyme].</div>
    <div>Stir well then let simmer over low heat, uncovered, for at least 45 minutes or until vegetables are tender, then, serve.</div>


    <h5>Author&rsquo;s Comments</h5> 

    <ul>
      <li><span>DO NOT USE VINEGAR.</span></li>
      <li><span>Because if you are going to pour in vinegar, then, don&rsquo;t forget to throw in an old shoe and your dirty laundry for the sake of posterity.</span></li>
      <li><span>Just don&rsquo;t do it!</span></li>
    </ul>

    <h5>Bibliography &amp; Attributions</h5> 
  
    <div>I drew the better parts from other recipes in order to come up with my own formula. I needed firm and opinionated measurements so that my version did not come out as a loaded bean gravy or a chunky tomato sauce. I am sure I found the right balance. I list the two sources from which I cemented my final recipe. </div>

    <div><a href="https://www.youtube.com/watch?v=0rkJ9RFLaIE" target="_blank" rel="noopener noreferrer" title="link to recipe one at youtube">Stephanie Manley on Youtube</a></div>

    <div><a href="https://www.youtube.com/watch?v=3Kh26kZM0dw" target="_blank" rel="noopener noreferrer" title="link to recipe two at youtube">Geek Eats TV on Youtube</a></div>
    
  </div>

</section>