// Reset some basic elements

html {-webkit-text-size-adjust: none; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, abbr, code, em, img, strong, b, i, ol, ul, li, a, article, figcaption, figure, footer, nav, section { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; font-family: $fnt_Segoe; }

body { line-height: 1; color: $col_black_zeros; background: $col_white_effs; }

article, aside, figcaption, figure, footer, nav, section { display: block; }

ol, ul { list-style: none; }
blockquote, q { quotes: none; }
del { text-decoration: line-through; }

figcaption, pre, code { font-family: $fnt_Blockquote; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
:focus { outline: 0; }
abbr[title], dfn[title] { border: none; cursor: help; }
