// 1st DEFAULT experience: 960 --> 1024

body { 
	color: $col_yellow; 
	font: normal normal 100% $fnt_Cambria;

	/* BACKGROUND */ 
	background: $col_white_off; 
	/*MOZ 4++ & W3C*/ 
	background: linear-gradient(top, $col_white_off 22%, $col_org_mid 44%, $col_org_darkest 55%, $col_org_darkest 77%);
	/*MOZ 3.6++ */ 
	background-image: -moz-linear-gradient(top, $col_org_darkest 22%, $col_org_darkest 44%, $col_org_mid 55%, $col_white_off 77%); 
	/* Opera 11.10+ */ /*Both with and w/o '-image' affect my Opera thus I have alternatives for inclusion*/ 
	background-image: -o-linear-gradient(top, $col_org_darkest 22%, $col_org_darkest 44%, $col_org_mid 55%, $col_white_off 77%); 
	/* Chrome10+, Safari5.1+ WORKS*/ 
	background: -webkit-linear-gradient(top, $col_white_off 22%, $col_org_mid 44%, $col_org_darkest 55%, $col_org_darkest 77%); 
	/*<!=Chrome10+, Safari4+ WORKS*/ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(22%, $col_white_off), color-stop(44%, $col_org_mid), color-stop(55%, $col_org_darkest), color-stop(77%, $col_org_darkest)); 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.22, $col_org_darkest), color-stop(0.44, $col_org_mid), color-stop(0.55, $col_org_darkest), color-stop(0.77, $col_org_darkest)); 
}

img { max-width: 100%; }

abbr { font: italic normal $fnt_Georgia; text-transform: uppercase; }

a {
  font-size: 100%; 
  color: $col_brick-red; 
  text-decoration: none; 
  -moz-transition: 0.17578s color linear; 
  -webkit-transition: 0.17578s color linear; 
  transition: 0.17578s color linear; 

  &:visited { color: $col_bright-blue; }
  &:hover, &:focus { color: $col_bright-red; }
}

article { 

  background: url("/assets/images/abstractStain.png") repeat-x; 
  
	padding: 2em 0; 

	.outer { 
		margin: 0 auto; 
		width: 93.75%; /* 960px / 1024px */ 

    // Imports
    @import
			"pieces/nav"
			, "pieces/section"
      , "pieces/table-supplement"
			, "pieces/aside"
			, "pieces/footer"
		;

	}
}

// 2nd experience: max 600
@media (max-width: 600px) {
	article { 		
		.outer { 
			position: relative;
		}
	} 
}

// 3rd experience: max 400
// @media (max-width: 400px) {
// 	article {
// 		.outer {
// 		}
// 	}
// }

// 4th LAST experience: MIN 1300
// @media (min-width: 1300px) {
// 	article { 		
// 		.outer {
// 		}
// 	}
// }

// fin.