// Define defaults for each variable.

// Web fonts - sans-serif
$fnt_sans_serif:  sans-serif;
$fnt_Helvetica:   "Helvetica Neue",Helvetica,Arial,sans-serif;  // 'BelligerentMadnessRegular'
$fnt_Trebuchet:   "Trebuchet MS", Verdana, sans-serif;          // 'ArchitectsDaughterRegular'
$fnt_Lucida:    "Lucida Grande", Arial, sans-serif;
$fnt_Impact:    Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$fnt_Segoe:     'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Web fonts - serif
$fnt_serif:     serif;
$fnt_Georgia:   Georgia, serif;                 // 'VanillaRegular'
$fnt_Cambria:   Cambria, Georgia, serif;        // 'GoodDogRegular'

// monospace fonts
$fnt_Monospace: monospace;
$fnt_Courier: Courier, monospace;
$fnt_Blockquote:  "Bitstream Vera Sans Mono", monospace;

// print fonts
$fnt_Print:  Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

// colors -- black, greys, white
$col_black_zeros: rgb(0, 0, 0);
$rgba_50_black: rgba(0, 0, 0, 0.5);
$col_white_effs: rgb(255, 255, 255);
$rgba_80_white: rgba(255, 255, 255, 0.8);

$col_dark-grey-orange: rgb(34, 33, 32);
$rgba_80_dark-grey-orange: rgba(34,33,32, 0.8);

$col_dark-grey-red: rgb(41,41,41);
$col_medium-grey-red: rgb(70,70,70);

$col_mid-grey-orange: rgb(74, 71, 69);
$rgba_80_mid-grey-orange: rgba(74, 71, 69, 0.8);

$col_light-mid-grey: rgb(102, 102, 102);
$col_mid-grey-red: rgb(110, 110, 110);
$col_whitish-grey-red: rgb(224, 224, 224);
$col_whitest-grey-red: rgb(230, 230, 230);
$col_white_off: rgb(255, 249, 239);
$col_white_second-off: rgb(255, 250, 240);

// colors -- not black nor grey nor white
$col_whitish-baby-blue: rgb(202, 207, 249);
$col_whitest-baby-blue: rgb(217, 221, 252);

$testrgba_80_mid-blue: rgba(22, 44, 111, 0.8);
$testrgba_mid-blue: rgb(22, 44, 111);
$col_mid-blue: rgb(25, 51, 128);
$rgba_80_mid-blue: rgba(25, 51, 128, 0.8);
$col_lighter-blue: rgb(33, 66, 166);
$col_bright-blue: rgb(41, 85, 204);
$rgba_80_bright-blue: rgba(40, 81, 204, 0.8);

$col_yellow: rgb(255, 240, 0);
$col_mustard: rgb(143, 143, 0);
$rgba_80-mustard: rgba(143, 143, 0, 0.8);

$col_dark_brick-red: rgb(65, 22, 11);
$col_brick-red: rgb(82, 1, 1);
$col_bm-red: rgb(140, 47, 24);
$col_bright-red: rgb(197, 2, 2);

$col_forest-green: rgb(0, 41, 0);

// colors -- orange tones
$col_org_brown: rgb(77,50,0);
$col_org_darkest: rgb(128, 83, 0);
$col_org_mid: rgb(230, 149, 0);
$col_org_bright: rgb(255,153,0);
$col_org_pale: rgb(255,173,20);
$col_org_light: rgb(255,207,117);
$rgba_63_orange-one: rgba(255, 205, 117, 0.63);

$col_tangerine_mid: rgb(221, 85, 51);