---
title: Sausage Gravy
date: 2019-06-04
excerpt: How to make sausage gravy! It's easy and really good!
permalink: /sausage-gravy/
tags: 
  - breakfast
  - beginner
layout: blog.njk
author: don Lucho
---

{% include "section-other-a.njk" %}

{# {% include "section-other-b.njk" %} #}
<section id="newPresentation">
  
  <h4>
    <strong>
      Chow down&hellip;&nbsp;
      <abbr title="and">&amp;</abbr>
       be proud
    </strong>
  </h4>

  <div id="flexipea">

    <h5>Ingredients</h5> 

    <ul>
      <li><span>&frac12; pound breakfast sausage or store&#45;bought chorizo</span></li> 
      <li><span>1 &frac12; cups milk</span></li> 
      <li><span>&frac12; tbsp. Italian seasoning</span></li> 
      <li><span>2 tbsp. all&#45;purpose flour</span></li> 
      <li><span>1 tbsp. butter</span></li> 
      <li><span>&frac12; tsp. salt</span></li> 
      <li><span>&frac12; tsp. pepper</span></li>
    </ul>
  
    <h5>Directions</h5> 
  
    <div>Turn stovetop to medium setting and heat your frying pan.</div>
    <div>Throw in the sausage and brown the meat.</div>
    <div>Next, once the sausage has been browned, throw in the butter and melt it and stir. Then, immediately throw in the flour and stir that, too.</div>
    <div>Leave the meat in&hellip; once the flour and butter are mixed in, pour in your milk to the skillet and stir.</div>
    <div>Immediately afterwards throw in each the OPTIONAL seasoning, the black pepper and salt and continue to stir over medium flame (between 3 and 5). The whole process could take between 5 and 10 minutes.</div>
    <div>Once it is done, pour the contents into a large soup bowl and serve.</div>

  </div>

</section>