---
title: White Sauce
date: 2020-04-03
excerpt: This versatile white sauce goes with everything and is not only unique to French cuisine and Fettucine Alfredo.
permalink: /bechamel-sauce/
tags: 
  - sauce
  - intermediate
layout: blog.njk
author: don Lucho
related:
  - lasagna
---

{% include "section-other-a.njk" %}

{# {% include "section-other-b.njk" %} #}

<section id="newPresentation">
  
  <h4>
    <strong>
      Chow down&hellip;&nbsp;
      <abbr title="and">&amp;</abbr>
       be proud
    </strong>
  </h4>

  <div id="flexipea">

    <h5>Supplies</h5>

    <ul>
      <li><span>Small cooking pot</span></li>
      <li><span>Wooden ladle</span></li>
    </ul>

    <h5>Ingredients</h5> 

    <ul>
      <li><span>4 tbsp. butter</span></li>
      <li><span>4 tbsp. flour</span></li>
      <li><span>2 cups (&frac12; quart or &frac12; liter) milk</span></li>
      <li><span>&frac12; tsp. to 1 tsp. salt</span></li>
      <li><span>&frac12; tsp. to 1 tsp. pepper</span></li>
      <li><span>&frac14; tsp. freshly grated nutmeg</span></li>
      <li><span>&frac12; cup (4 oz.), shredded parmesan cheese</span></li>
    </ul>
  
    <h5>Directions</h5> 
  
    <div>Melt butter in a large saucepan over medium heat. Once melted, stir in the flour until smooth. Continue stirring as the flour cooks to a light, golden, sandy color, for about a minute over low heat to cook out the raw taste of the flour.</div>
    <div>Increase heat to medium&#45;high and slowly whisk in milk until thickened by the roux. Bring to a gentle simmer, [add the parmesan cheese], then reduce heat to medium&#45;low and continue simmering until the flour has softened and not longer tastes gritty, 2 to 5 minutes on the lowest heat until thickened.</div>
    <div>It should coat the back of a spoon and it should not feel grainy when a small amount of sauce is rubbed between your fingers. Keep in mind that the sauce will still thicken after taking the pot off the heat.</div>
    <div>Season with salt, pepper, and nutmeg.</div>
    <div>Try and go for the so&#45;called &quot;parting effect.&quot;</div>


    <h5>Author&rsquo;s Comments</h5> 

    <ul>
      <li><span>This is my tried and true recipe for bechamel sauce;</span></li>
      <li><span>I took the best elements from several different recipes and came up with my own formula;</span></li>
      <li><span>This sauce acts as a milk&#45;based thickening agent and can be enjoyed as is or it can act as a building&#45;block in other recipes such as parmesan&#45;alfredo sauce.</span></li>
    </ul>


    <h5>Bibliography &amp; Attributions</h5> 
  
    <div>I became interested in making my own lasagna during the beginning of 2020. I am not a fan of ricotta cheese and I knew that &quot;another white sauce&quot; existed, too. These are the resources from which I drew the better individual elements and creative motivation in order to come up with my own formula. </div>

    <div><a href="https://www.youtube.com/watch?v=94d7ZXySplo" target="_blank" rel="noopener noreferrer" title="link to recipe one">Alex on Youtube</a></div>
    
    <div><a href="https://www.allrecipes.com/recipe/139987/basic-bechamel-sauce/" target="_blank" rel="noopener noreferrer" title="link to allrecipes">Allrecipes</a></div>
    
    <div><a href="https://www.wikihow.com/Make-Bechamel-Sauce" target="_blank" rel="noopener noreferrer" title="link to wikihow">Wikihow</a></div>
    
    <div><a href="https://www.everyday-delicious.com/bechamel-sauce/" target="_blank" rel="noopener noreferrer" title="link to everyday delicious">Everyday Delicious</a></div>
    
  </div>

</section>