---
title: Meat Sauce
date: 2020-04-02
excerpt: Sauce so good it would have made Louis Prima blush.
permalink: /bolognese-sauce/
tags: 
  - sauce
  - intermediate
layout: blog.njk
author: don Lucho
related:
  - margherita-sauce
  - lasagna
---

{% include "section-other-a.njk" %}

{# {% include "section-other-b.njk" %} #}
<section id="newPresentation">
  
  <h4>
    <strong>
      Chow down&hellip;&nbsp;
      <abbr title="and">&amp;</abbr>
       be proud
    </strong>
  </h4>

  <div id="flexipea">

    <h5>Supplies</h5>

    <ul>
      <li><span>Large pot</span></li>
      <li><span>Wooden ladle</span></li>
    </ul>

    <h5>Ingredients</h5> 

    <ul>
      <li><span>lean ground beef, 1 to 1 &frac12; lb.</span></li>
      <li><span>ground pork, 1 lb. </span></li>
      <li><span>onion, 1 large white or yellow, minced</span></li>
      <li><span>garlic, 5 cloves, chopped/crushed </span></li>
      <li><span>tomato sauce, 16 oz., homemade or store&#45;bought</span></li>
      <li><span>basil, &frac12; cup freshly chopped</span></li>
      <li><span>fennel seed, 1 tsp. </span></li>
      <li><span>oregano, 1 tsp. ground </span></li>
      <li><span>parsley, &frac14; cup freshly chopped</span></li>
      <li><span>[optional] red pepper flakes, &frac14; tsp. </span></li>
      <li><span>[optional] tomato paste, two 6 oz. cans</span></li>
      <li><span>salt, &frac12; tsp. to 1 tsp. </span></li>
      <li><span>black pepper, &frac12; tsp. to 1 tsp. ground</span></li>
      <li><span>[either] Crushed tomatoes, one 28 oz. can</span></li>
      <li><span>[or] 3 cups (24 oz.) diced tomatoes (5 whole)</span></li>
    </ul>
  
    <h5>Directions</h5> 
  
    <div>In a large pot over medium heat, add in ground pork and ground beef. Use a spoon to break up the meat into small pieces and until meat is browned and crumbly (about 10 minutes).</div>
    <div>Add in onion and garlic and cook until meat is well browned, stirring constantly.</div>
    <div>Stir in fresh basil, fennel, oregano, salt, pepper, and chopped parsley.</div>
    <div>Pour in crushed/chopped tomatoes and tomato sauce (and optional tomato paste). Stir well and bring to a simmer.</div>
    <div>Reduce heat to low and simmer 1 to 4 hours, stirring occasionally.</div>


    <h5>Author&rsquo;s Comments</h5> 

    <ul>
      <li><span>This is my recipe for a meat sauce that is out of this world;</span></li>
      <li><span>You can store and freeze manageable portions of 16 oz. in empty margarine containers;</span></li>
      <li><span>Use your homemade tomato sauce and build on previous precedent to yield something that is stoked with healthy vitamins;</span></li>
      <li><span>Use the final product to serve with baked spaghetti/pasta or as an essential component to homemade lasagna.</span></li>
    </ul>
    
  </div>

</section>