---
title: Tomato Sauce
date: 2020-04-01
excerpt: Momma, mia! Datsa bueno pomodoro!
permalink: /margherita-sauce/
tags: 
  - sauce
  - intermediate
layout: blog.njk
author: don Lucho
related:
  - bolognese-sauce
  - pasta-e-fagioli
---

{% include "section-other-a.njk" %}

{# {% include "section-other-b.njk" %} #}

<section id="newPresentation">
  
  <h4>
    <strong>
      Chow down&hellip;&nbsp;
      <abbr title="and">&amp;</abbr>
       be proud
    </strong>
  </h4>

  <div id="flexipea">

    <h5>Supplies</h5>

    <ul>
      <li><span>cooking pot (medium/large), for boiling water</span></li>
      <li><span>spaghetti spoon or long wooden ladle</span></li>
      <li><span>teaspoon, to scoop away tomato from skin</span></li>
      <li><span>square casserole, to contain cooked tomato and inevitable juice(s)</span></li>
      <li><span>blender</span></li>
      <li><span>frying pan, small</span></li>
      <li><span>small bowl</span></li>
      <li><span>dinner plate, medium to large</span></li>
      <li><span>sharp pointed knife</span></li>
    </ul>

    <h5>Ingredients</h5> 

    <ul>
      <li><span>vegetable oil OR margarine, 1 Tbsp.</span></li>
      <li><span>water, 2 liters</span></li>
      <li><span>tomato, 8 to 12, whole and rinsed</span></li>
      <li><span>onion, 1 medium to large, chopped</span></li>
      <li><span>celery, 1 stalk with leaves, rinsed, pat&#45;dried, and chopped</span></li>
      <li><span>garlic, 4 cloves, chopped</span></li>
      <li><span>bayleaf, fresh (2 to 4 leaves) and chopped OR sun&#45;dried (2 tsp.) and crumbled</span></li>
      <li><span>salt, 1 to 2 tsp.</span></li>
      <li><span>pepper, 1 to 2 tsp.</span></li>
      <li><span>[optional] bullion cube, chicken or beef (preferably), &frac12; envelope or &frac12; cube</span></li>
      <li><span>[optional] red pepper flakes, 1 to 2 tsp.</span></li>
    </ul>
  
    <h5>Preparation&#45; Soffrito/Saut&eacute;&eacute;</h5> 
  
    <div>Separately heat the frying pan for 3 minutes over medium-low heat (4 on a 10 scale), then, heat the oil or melt the margarine before adding ingredients.</div>
    <div>Add in succession the following ingredients to the frying pan&#45;&#45; onion, celery, garlic, bayleaf. Stir and remove once it is apparent that either a) the garlic is almost toasted or b) the other three ingredients are translucent in color.</div>
    <div>When ingredients are heated, pour out the contents into a small bowl, add in the bullion over said contents, and stir with a spoon, then, put aside.</div>

    <h5>Preparation&#45; Boiled Tomatoes</h5> 
  
    <div>Add water to the cooking pot and begin to bring it to boil.</div>
    <div>Once the water begins to boil, add in the tomatoes four at a time.</div>
    <div>Cook the tomatoes in boiling water for at least 3 minutes or until the skin begins to tear without rupturing the contents contained within.</div>
    <div>When the tomatoes are cooked, take them out with the ladle and momentarily rest them on the dinner plate.</div>
    <div>With a pointed knife, partition the skin in half, then, peel back leaving only the fruit and traces on the skin. Put the skin aside but put the peeled fruit in your casserole dish.</div>
    <div>With a teaspoon, scrape any traces of tomato away from the skin&#45;&#45; discard the skin and pour the traces of tomato sauce into the casserole.</div>
    <div>With a pointed knife, cut the cores out of each of the peeled tomatoes&#45;&#45; discard the cores and save the tomatoes.</div>
    <div>Repeat as often as necessary until all of the tomatoes have been cored and peeled.</div>

    <h5>Directions&#45; Final </h5> 
  
    <div>Empty the cooking pot of any water previously utilized to boil the tomatoes [and OPTIONALLY place on a burner over low flame].</div>
    <div>Under the assumption you just boiled EIGHT tomatoes, throw in FOUR of the tomatoes and HALF of the saut&eacute;&eacute; into the blender.</div>
    <div>Once blended, pour out the ingredients into the cooking pot&#45;&#45; repeat as often as necessary until you have utilized all of the saut&eacute;&eacute; and tomatoes.</div>
    <div>Add salt and pepper [and the optional red pepper flakes], then, stir them in with the sauce.</div>


    <h5>Author&rsquo;s Comments</h5> 

    <ul>
      <li><span>This is our humble AND super&#45;simple recipe for spaghetti sauce;</span></li>
      <li><span>I learned this recipe from my mom with a few slight modifications;</span></li>
      <li><span>You can store and freeze manageable portions of 16 oz. in empty margarine containers;</span></li>
      <li><span>You can either simmer the finished sauce over low flame after bringing it to a boil for up to 1 hour or utilize it &quot;as is&quot; without any further simmering.</span></li>
    </ul>
    
  </div>

</section>