// 1st DEFAULT experience: 960 --> 1024

aside {
  float: left; 
  width: 31.875%; /* 306px / 960px */ 
  margin: .375em auto 0;
  
  h6 {
    font: 1.625em/0.875em $fnt_Trebuchet; 
    margin: 0.375em 0 0.375em; 
    text-align: center; 
    
    -moz-text-shadow: 0.1875em 0.1875em 0.1875em $rgba_80_dark-grey-orange; 
    -webkit-text-shadow: 0.1875em 0.1875em 0.1875em $rgba_80_dark-grey-orange; 
    text-shadow: 0.1875em 0.1875em 0.1875em $col_dark-grey-orange; 

    text-transform: lowercase; 
  }

  p {
    padding: 8.4375% 0.52734375em 0 8.4375%; 
    text-align: left; 
    font: 125%/1.1625em $fnt_Helvetica; 
    
    -moz-text-shadow: 0.1875em 0.1875em 0.1875em $rgba_80_mid-grey-orange; 
    -webkit-text-shadow: 0.1875em 0.1875em 0.1875em $rgba_80_mid-grey-orange; 
    text-shadow: 3px 3px 5px $col_mid-grey-orange; 
  }

  ul {
    text-align: center; 
    width: 64.379%; 
    margin: .625em auto 0;

    &:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

    li {
      margin-right: 0; 
      
      &:nth-child(1) a {
        padding: .375em 0; 
      } 

      span.noHackButton {
        margin: 0 .125em 0 .125em;

        a.alphaGradient {
          color: $col_brick-red; 
          text-transform: none; 
          display: block; 
          padding: .375em 0; 
          font: 90% $fnt_Georgia; 
          
          -moz-border-radius: 3px; 
          -webkit-border-radius: 3px; 
          border-radius: 3px; 

          -moz-box-shadow: 0 3px 4px -1px $col_medium-grey-red; 
          -webkit-box-shadow: 0 3px 4px -1px $col_medium-grey-red; 
          box-shadow: 0 3px 4px -1px $col_medium-grey-red; 
          
          -moz-text-shadow: 0.1875em 0.1875em 3px $rgba_80_bright-blue; 
          -webkit-text-shadow: 0.1875em 0.1875em 3px $rgba_80_bright-blue; 
          text-shadow: 3px 3px 3px $col_bright-blue; 
          
          background: $col_white_effs; 
          background: -moz-linear-gradient(top, $col_white_effs 0%, $col_whitish-grey-red 100%); 
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $col_white_effs), color-stop(100%, $col_whitish-grey-red)); 
          background: -webkit-linear-gradient(top, $col_white_effs 0%, $col_whitish-grey-red 100%); 
          background: -o-linear-gradient(top, $col_white_effs 0%, $col_whitish-grey-red 100%); 
          background: -ms-linear-gradient(top, $col_white_effs 0%, $col_whitish-grey-red 100%); 
          background: linear-gradient(top, $col_white_effs 0%, $col_whitish-grey-red 100%); 

          &:visited { 
            color: $col_tangerine_mid; 
            
            -moz-text-shadow: 0.1875em 0.1875em 3px $rgba_80_bright-blue; 
            -webkit-text-shadow: 0.1875em 0.1875em 3px $rgba_80_bright-blue; 
            text-shadow: 3px 3px 3px $col_bright-blue; 
            
            -moz-box-shadow: 2px 3px 2px -1px $col_medium-grey-red inset, 0 1px 1px 0 $col_light-mid-grey; 
            -webkit-box-shadow: 2px 3px 2px -1px $col_medium-grey-red inset, 0 1px 1px 0 $col_light-mid-grey; 
            box-shadow: 2px 3px 2px -1px $col_medium-grey-red inset, 0 1px 1px 0 $col_light-mid-grey;
          }

          &:hover, &:focus { 
            color: $col_bm-red; 
            
            -moz-text-shadow: 0.1875em 0.1875em 3px $rgba_80_mid-blue; 
            -webkit-text-shadow: 0.1875em 0.1875em 3px $rgba_80_mid-blue; 
            text-shadow: 3px 3px 3px $col_lighter-blue; 
            
            -moz-box-shadow: 0 1px 1px 0 $col_light-mid-grey; 
            -webkit-box-shadow: 0 1px 1px 0 $col_light-mid-grey; 
            box-shadow: 0 1px 1px 0 $col_light-mid-grey; 
            
            background: $col_whitish-grey-red; 
            background: -moz-linear-gradient(top, $col_whitish-grey-red 0%, $col_white_effs 100%); 
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $col_whitish-grey-red), color-stop(100%, $col_white_effs)); 
            background: -webkit-linear-gradient(top, $col_whitish-grey-red 0%, $col_white_effs 100%); 
            background: -o-linear-gradient(top, $col_whitish-grey-red 0%, $col_white_effs 100%); 
            background: -ms-linear-gradient(top, $col_whitish-grey-red 0%, $col_white_effs 100%); 
            background: linear-gradient(top, $col_whitish-grey-red 0%, $col_white_effs 100%); 
          }

          img {
            display: block; 
            margin: .375em auto 0;
          }
        }
      }
    }

  }

}


// 2nd experience: max 600
@media (max-width: 600px) {
  
  aside {

    float: none; 
    width: auto;

    h6 {
      color: $col_dark_brick-red; 
      padding-top: .625em;
    }
    
    p {
      color: $col_dark_brick-red; 
      padding-top: 1.5625%;
    }

    ul {
      float: none; 
      width: 100%; 
      border: 0; 
      background: none; 
      position: inherit; 
      margin: 0.0625em auto .625em;

      li {
        width: 63.33%; 
        margin: 0 auto; 
      }
    }

  }

}

// 3rd experience: max 400
// @media (max-width: 400px) {
// }

// 4th LAST experience: MIN 1300
@media (min-width: 1300px) {
  
  aside {
    float: right; 
    margin: 0 auto; 
    text-align: center; 
    width: 65.9375%; 

    h6 { 
      margin: 0.375em 0 0.375em; 
      text-align: center; 
      color: $col_dark_brick-red; 
    }

    p { 
      padding: .351625% 0.52734375em 0 2.109375%; 
      text-align: center; 
      margin-bottom: 1.40625%; 
      color: $col_dark_brick-red; 
    }

    ul {
      width: 100%; 
      margin: 0.0625em auto .625em; 

      li {
        width: 32.0675%; 
        margin: 0 auto; 

        display: inline-block;

        // &:nth-child(3) { 
          // margin-right: 0; 
        // }

        &:nth-child(1) { 
          padding-left: 0; 
        }
        
      }
    }

  }
}

// fin.