// 1st DEFAULT experience: 960 --> 1024

footer {
  // font: normal 1.125em $fnt_Cambria; 
  font: normal 1.0625em $fnt_Cambria; 
  color: $col_forest-green; 
  float: right; 
  width: 65.9375%; /* 633px / 960px */ 
  background: url("/assets/images/ornament.png") 50% 0 repeat-x; 
  text-align: center; 
  padding: 40px 0 20px; 
  text-shadow: 2px 3px 3px $col_mid-grey-orange; 
  -moz-text-shadow: 2px 3px 3px $rgba_80_mid-grey-orange; 
  -webkit-text-shadow: 2px 3px 3px $rgba_80_mid-grey-orange; 

  p { margin-bottom: 0.5em; line-height: .925; }

}

// 2nd experience: max 600
@media (max-width: 600px) {
  footer { 
    float: none; 
    width: auto; 
  }
}

// 3rd experience: max 400
// @media (max-width: 400px) { 
// }

// 4th LAST experience: MIN 1300
@media (min-width: 1300px) { 
  footer { 
    clear: both; 
    float: none; 
    width: 20.520833333333333333%; /* width 197px / 960px */ 
    margin-left: 56.770833333333333333%; 
    // font: normal 1.125em $fnt_Cambria; 
    font: normal 1em $fnt_Cambria; 
  }
}

// fin.