// 1st DEFAULT experience: 960 --> 1024

nav { 
  float: left; 
  width: 31.875%;  /* 306px / 960px */
  &:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

  h1 { 
    background: url("/assets/images/logo_figure.png") no-repeat 50% 0; 

    a {
      padding-top: 117px; 
      height: 162px; 
      display: block; 
      text-align: center; 
      margin: 0 auto 0;

      .fakingruuvinOne { 
        position: relative; display: inline-block; font: 120% $fnt_Segoe; font-style: italic; color: $col_whitish-grey-red; text-align: center; margin: 0 auto 0; 

        &:after { content: 'Simple'; color: $col_white_second-off; text-shadow: 0 .0625em 0 $rgba_80_white; -moz-text-shadow: 0 .0625em 0 $rgba_80_white; -webkit-text-shadow: 0 .0625em 0 $rgba_80_white; }
      }
      
      .fakingruuvinTwo { 
        position: relative; display: inline-block; font: 120% $fnt_Segoe; font-style: italic; color: $col_whitish-grey-red; text-align: center; margin: 0 auto 0; 

        &:after { content: 'Recipes'; color: $col_white_second-off; text-shadow: 0 .0625em 0 $rgba_80_white; -moz-text-shadow: 0 .0625em 0 $rgba_80_white; -webkit-text-shadow: 0 .0625em 0 $rgba_80_white; }
      }

      .fakingruuvinThree { 
        position: relative; display: inline-block; font: 200% $fnt_Segoe; font-style: italic; color: $col_whitish-grey-red; text-align: center; margin: 0 auto 0; 

        &:after { content: '11ty'; color: $col_white_second-off; text-shadow: 0 .0625em 0 $rgba_80_white; -moz-text-shadow: 0 .0625em 0 $rgba_80_white; -webkit-text-shadow: 0 .0625em 0 $rgba_80_white; }
      }

      &:hover .firstCallOut { 
        color: $col_whitest-grey-red; 
        text-shadow: 1px 1px $col_black_zeros, 2px 2px $col_org_light, 3px 3px $col_org_light, 4px 4px $col_org_light, 5px 5px $col_org_light, 6px 6px $col_org_light; 
      }
      
      &:hover .secondCallOut { 
        color: $col_whitest-grey-red; 
        text-shadow: 1px 1px $col_black_zeros, 2px 2px $col_org_pale, 3px 3px $col_org_pale, 4px 4px $col_org_pale, 5px 5px $col_org_pale, 6px 6px $col_org_pale; 
      }
      
      &:hover .thirdCallOut { 
        color: $col_whitest-grey-red; 
        text-shadow: 1px 1px $col_black_zeros, 2px 2px $col_org_bright, 3px 3px $col_org_bright, 4px 4px $col_org_bright, 5px 5px $col_org_bright, 6px 6px $col_org_bright; 
      }

      .firstCallOut {
        position: absolute; 
        top: 0; left: 0; 
        -webkit-gradient:(linear, left top, left bottom, from($col_black_zeros), to($col_black_zeros)); 
        -webkit-transition: all 0.087890625s ease-out; 
        -moz-transition: all 0.087890625s ease-out;
        -o-transition: all 0.087890625s ease-out; 
        transition: all 0.087890625s ease-out; 
        text-shadow: 1px 1px $col_mid-grey-red, 2px 2px $col_mid-grey-orange, 3px 3px $col_mid-grey-orange, 4px 4px $col_mid-grey-orange; 
      }

      .secondCallOut { 
        position: absolute; 
        top: 0; left: 0; 
        -webkit-gradient:(linear, left top, left bottom, from($col_black_zeros), to($col_black_zeros)); 
        -webkit-transition: all 0.087890625s ease-out; 
        -moz-transition: all 0.087890625s ease-out; 
        -o-transition: all 0.087890625s ease-out; 
        transition: all 0.087890625s ease-out; 
        text-shadow: 1px 1px $col_mid-grey-red, 2px 2px $col_mid-grey-orange, 3px 3px $col_mid-grey-orange, 4px 4px $col_mid-grey-orange; 
      }

      .thirdCallOut { 
        position: absolute; 
        top: 0; left: 0; 
        -webkit-gradient:(linear, left top, left bottom, from($col_black_zeros), to($col_black_zeros)); 
        -webkit-transition: all 0.087890625s ease-out; 
        -moz-transition: all 0.087890625s ease-out; 
        -o-transition: all 0.087890625s ease-out; 
        transition: all 0.087890625s ease-out; 
        text-shadow: 1px 1px $col_mid-grey-red, 2px 2px $col_mid-grey-orange, 3px 3px $col_mid-grey-orange, 4px 4px $col_mid-grey-orange; 
      }

    }

  }

  ul { 
    width: 64.379%; 
    margin: 2em auto 0; 
    &:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

    li {

      &:nth-child(1) {
        a { 
          padding-top: 1.25em; 
        }
      }

      a {
        color: $col_yellow; 
        text-decoration: none; 
        -moz-transition: 0.17578s color linear; 
        -webkit-transition: 0.17578s color linear; 
        transition: 0.17578s color linear; 
        font-size: 112%; 
        text-transform: uppercase; 
        text-align: center; 
        display: block; 
        margin-bottom: -1em; 
        padding: 1em 0.5em 3em; 
        text-shadow: 3px 3px 2px $col_mid-grey-orange; 
        -moz-text-shadow: 3px 3px 2px $rgba_80_mid-grey-orange; 
        -webkit-text-shadow: 3px 3px 2px $rgba_80_mid-grey-orange; 
        background: url("/assets/images/ornament.png") no-repeat 0 100%; 
        font: normal bold .8125em / 1.2em $fnt_Trebuchet; 
        letter-spacing: 0.1em; 

        &:visited { color: $col_bm-red; text-shadow: 3px 3px 6px $col_mid-blue; -moz-text-shadow: 3px 3px 6px $rgba_80_mid-blue; -webkit-text-shadow: 3px 3px 6px $rgba_80_mid-blue;  }
        
        &:hover, &:focus { color: $col_brick-red; background-position: 50% 100%; text-shadow: 3px 3px 6px $col_mustard; -moz-text-shadow: 3px 3px 6px $rgba_80-mustard; -webkit-text-shadow: 3px 3px 6px $rgba_80-mustard;  }

        em { 
          display: block; 
          font: normal bold .580em / .857em $fnt_Trebuchet; 
          letter-spacing: .0714em; 
        }
      }
    }

  }

  #newImageDiv { 
    float: left; width: 100%;

    img {
      margin: 8% auto 0; 
      padding: 0; 

      -webkit-box-shadow: 0 2px 4px $rgba_50_black; 
      -moz-box-shadow: $rgba_50_black 0 2px 4px; 
      box-shadow: $rgba_50_black 0 2px 4px; 
      
      -webkit-border-radius: 16px 0 16px 0; 
      -moz-border-radius: 16px 0 16px 0; 
      border-radius: 16px 0; 
    } 
  }

}

// 2nd experience: max 600
@media (max-width: 600px) {
  
  nav { 
    float: none; 
    width: auto; 

    h1 { 
      background: none; 

      a { 
        padding-top: 70px; 
        height: 87px; 
        display: block; 
        text-align: center; 
      } 
    }

    ul { 
      position: absolute; 
      top: 0; 
      width: 100%; 
      margin: 0 auto; 
      background: url("/assets/images/ornament.png") no-repeat 0 -20px; 

      li {
        float: left; 
        margin-right: 3.317535545023696682%; /* 21px / 633px */ 
        width: 31.121642969984202211%; /* 197px / 633px */
        
        &:nth-child(1) {
          a { 
            padding-top: 1em; 
          }
        }

        &:nth-child(3), &:nth-child(6), &:nth-child(9), &:nth-child(12), &:nth-child(15), &:nth-child(18), &:nth-child(21), &:nth-child(24) { 
          margin-right: 0; 
        }

        a {
          font: normal bold .625em / 1.2em $fnt_Trebuchet; 
          letter-spacing: .0357em; 

          &:hover, &:focus { 
            background-position: 0 100%; 
          }

          em { 
            font: normal bold 10px / 1.2em $fnt_Trebuchet; 
            letter-spacing: .0357em; 
          }
        }
      }

    }

    #newImageDiv { 
      float: none; 
      margin: 0 auto; 
      text-align: center;

      img {
        max-width: 95%; 
        margin: 1% 0 auto;
      } 
    }

  }
}

// 3rd experience: max 400
// @media (max-width: 400px) {
// }

// 4th LAST experience: MIN 1300
@media (min-width: 1300px) {
  
  nav { 
    float: none; 
    width: auto; 

    h1 { 
      float: left; 
      width: 31.875%; /* 306px / 960px */
    } 

    ul { 
      float: right; 
      text-align: center; 
      width: 65.9375%; /* 633px / 960px */
      margin: 40px 0 1em; 

      li {
        float: left; 
        margin-right: 3.317535545023696682%; /* 21px / 633px */ 
        width: 31.121642969984202211%; /* 197px / 633px */

        &:nth-child(1) {
          a { 
            padding-top: 1em; 
          }
        }

        &:nth-child(3) { 
          margin-right: 0; 
        }

      }

    }

    #newImageDiv {
      float: right; 
      margin: 1.5625em auto 0; 
      text-align: center; 
      width: 65.9375%;

      img {
        margin: 1.5625% auto 0; 
      } 
    }
    
  }
}

// fin.