// 1st DEFAULT experience: 960 --> 1024

h2 {
  margin-bottom: 0.25em; 
  text-align: center; 
  font: normal 2em $fnt_Helvetica;
}

h3 {
  text-transform: lowercase; 
  text-align: center; 
  margin: 0.75em 0 1em; 
  
  -moz-text-shadow: 3px 3px 3px $rgba_80_dark-grey-orange; 
  -webkit-text-shadow: 3px 3px 3px $rgba_80_dark-grey-orange; 
  text-shadow: 3px 3px 3px $col_dark-grey-orange; 

  background: url("/assets/images/ornament.png") no-repeat 0 50%; 
  font: normal 1.125em $fnt_Trebuchet; 
}

h3 > strong {
  font-weight: normal; 
  padding: 0 1em; 
  
  -webkit-box-shadow: 0 2px 4px $rgba_50_black; 
  -moz-box-shadow: $rgba_50_black 0 2px 4px; 
  box-shadow: $rgba_50_black 0 2px 4px; 

  -webkit-border-radius: 16px 16px 16px 16px; 
  -moz-border-radius: 16px 16px 16px 16px; 
  border-radius: 16px 16px; 

  /* BACKGROUND */ 
  background: $col_org_mid; 
  background: linear-gradient(top, $col_org_mid 22%, $col_org_mid 44%, $col_org_darkest 55%, $col_org_darkest 77%); 
  background: -webkit-linear-gradient(top, $col_org_mid 22%, $col_org_mid 44%, $col_org_darkest 55%, $col_org_darkest 77%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22%, $col_org_mid), color-stop(44%, $col_org_mid), color-stop(55%, $col_org_darkest), color-stop(77%, $col_org_darkest)); 
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.22, $col_org_darkest), color-stop(0.44, $col_org_mid), color-stop(0.55, $col_org_darkest), color-stop(0.77, $col_org_darkest)); 
  background-image: -moz-linear-gradient(top, $col_org_darkest 22%, $col_org_darkest 44%, $col_org_mid 55%, $col_org_mid 77%); background-image: -o-linear-gradient(top, $col_org_darkest 22%, $col_org_darkest 44%, $col_org_mid 55%, $col_org_mid 77%); 
}

p {
  font: normal 125% $fnt_Helvetica; 
        
  -moz-text-shadow: 0.1875em 0.1875em 0.1875em $rgba_80_dark-grey-orange; 
  -webkit-text-shadow: 0.1875em 0.1875em 0.1875em $rgba_80_dark-grey-orange; 
  text-shadow: 3px 3px 5px $col_mid-grey-orange; 
  
  padding-left: 6.375%; padding-right: 0.375em; padding-bottom: 1.125em; 
}

h4 {
  font: 2.125em $fnt_Trebuchet; 
  margin: 0.75em 0 .875em 0; 
  text-align: center; 
  
  -moz-text-shadow: 0.1875em 0.1875em 0.1875em $rgba_80_dark-grey-orange; 
  -webkit-text-shadow: 0.1875em 0.1875em 0.1875em $rgba_80_dark-grey-orange; 
  text-shadow: 0.1875em 0.1875em 0.1875em $col_dark-grey-orange; 
  
  text-transform: lowercase; 
}

h5 {
  color: $col_white_second-off; 
  text-align: left; 
  // padding: 0.375em 0 0.25em 0.375em; 
  // padding: 0.5625em 0 0.25em 0.375em; 
  padding: 0.625em 0 0.25em 0.375em; 
  
  -moz-text-shadow: 0.1875em 0.1875em 0.1875em $rgba_80_dark-grey-orange; 
  -webkit-text-shadow: 0.1875em 0.1875em 0.1875em $rgba_80_dark-grey-orange; 
  text-shadow: 3px 3px 5px $col_mid-grey-orange; 

  font: 2em/75.4375% $fnt_Helvetica;
}

ol li {
  float: left; 
  text-align: center; 
  text-transform: uppercase; 
  width: 31.121642969984202211%; /* 197px / 633px */ 
  margin: 0 3.317535545023696682% 1.5em 0; /* 21px / 633px */ 
  font: normal 1.28125em $fnt_Cambria; 
  letter-spacing: .0625em; 
  text-shadow: 3px 3px 5px $col_mid-grey-orange; 
  -moz-text-shadow: 0 1px 0 $rgba_80_mid-grey-orange; 
  -webkit-text-shadow: 0 1px 0 $rgba_80_mid-grey-orange; 

  &:nth-child(3), &:nth-child(6), &:nth-child(9), &:nth-child(12), &:nth-child(15), &:nth-child(18), &:nth-child(21), &:nth-child(24), &:nth-child(27), &:nth-child(30), &:nth-child(33), &:nth-child(36), &:nth-child(39), &:nth-child(42), &:nth-child(45), &:nth-child(48), &:nth-child(51), &:nth-child(54) { 
    margin-right: 0; 
  }

  img {
    display: block; 
    margin: 0 auto 1em; 
    -webkit-box-shadow: 0 2px 4px $rgba_50_black; 
    -moz-box-shadow: $rgba_50_black 0 2px 4px; 
    box-shadow: $rgba_50_black 0 2px 4px; 
    -webkit-border-radius: 16px 0 16px 0; 
    -moz-border-radius: 16px 0 16px 0; 
    border-radius: 16px 0;
  }

  strong {
    display: block; 
    font: normal 1.125em $fnt_Cambria; 
    letter-spacing: 0.1em; 
    text-shadow: 3px 3px 5px $col_mid-grey-orange; 
    -moz-text-shadow: 0 1px 0 $rgba_80_mid-grey-orange; 
    -webkit-text-shadow: 0 1px 0 $rgba_80_mid-grey-orange; 
  }
}

div.newInny {
  line-height: 1.4; 
}

div.inner {
  line-height: 1.4;
}

div.inner div {
  font: normal 125% $fnt_Helvetica; 
  column-count: 1; column-gap: 0%; 
  -webkit-column-count: 1; -webkit-column-gap: 0%; 
  -moz-column-count: 1; -moz-column-gap: 0%; 
  margin: 0 auto; 
  text-align: center; 
}


// div.inner #tableCase table { 
//   margin: 0 auto; 
//   // font-size: 100%;
//   // line-height: inherit;

//   tr {
//     width: auto;
//   }

//   thead th {
//     font-size: 120%;
//   }

//   tbody td {
//     font-size: 90%;
//   }

// }


div.inner div img {
  margin: 8% auto 0; 
  padding: 0; 
  -webkit-box-shadow: 0 2px 4px $rgba_50_black; 
  -moz-box-shadow: $rgba_50_black 0 2px 4px; 
  box-shadow: $rgba_50_black 0 2px 4px; 
  
  -webkit-border-radius: 16px 0 16px 0; 
  -moz-border-radius: 16px 0 16px 0; 
  border-radius: 16px 0; 
  
  max-width: 16.09375em; 
}



#loadicon { 
  background-color: $rgba_63_orange-one; 
  padding: 2.5%; 
  display: none; 

  position: relative; width: 30px; height: 30px; left: 50%; top: 0%; margin: -12.125% 0 0 -5%; border: 8px solid $col_whitest-baby-blue; border-left-color: transparent; border-right-color: transparent; -o-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; -moz-box-shadow: 0 0 25px 2px $col_whitish-baby-blue; -o-box-shadow: 0 0 25px 2px $col_whitish-baby-blue; -webkit-box-shadow: 0 0 25px 2px $col_whitish-baby-blue; box-shadow: 0 0 25px 2px $col_whitish-baby-blue;

  &:after{ display: block; content: " "; width: 9px; height: 9px; margin: 4px; -webkit-border-radius: 50%; -o-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; border: 6px solid $col_whitest-baby-blue; border-left-color: transparent; border-right-color: transparent; }

}

section {
  float: right;
  width: 65.9375%; /* 633px / 960px */
  
  &:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }

  // &#introduction {
    // margin-top: 117px; 
  // }

  // &#newArticle {
    // margin-top: 117px; 
  // }

  &#newPresentation {
    width: 62.8125% /*65.9375%*/ ; 
    padding-top: 2.5%; 
    padding-right: 1.625%; 
    padding-bottom: 2.5%; 

    //...
    padding-top: 2.5%; padding-right: 1.625%; padding-bottom: 2.5%;

    border: .3125em solid $col_org_mid; 
    
    -webkit-border-radius: 1.6179552% 1.6179552% 1.6179552% 1.6179552%; 
    -moz-border-radius: 1.6179552% 1.6179552% 1.6179552% 1.6179552%; 
    border-radius: 1.6179552% 1.6179552%; 
    
    -moz-background-clip: padding; 
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
    
    -webkit-box-shadow: 0 .4044888% 1.9543973% $col_dark-grey-red; 
    -moz-box-shadow: $col_dark-grey-red 0 .4044888% 1.9543973%; 
    box-shadow: $col_dark-grey-red 0 .4044888% 1.9543973%; 
    
    background: $col_org_darkest; 
    background: -webkit-gradient(linear, 0, 0, from(0%, $col_org_brown), to(100%, $col_org_darkest)); 
    background: -webkit-linear-gradient($col_org_brown 0%, $col_org_darkest 100%); 
    background: -moz-linear-gradient(0% 100% 90deg, $col_org_brown 0%, $col_org_darkest 100%); 
    background: -ms-linear-gradient(top, $col_org_brown 0%, $col_org_darkest 100%); 
    background: -ms-linear-gradient($col_org_brown, $col_org_darkest); 
    
    background: -o-linear-gradient(top, $col_org_brown 0%, $col_org_darkest 100%); 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, $col_org_darkest), color-stop(1, $col_org_brown)); background-image: linear-gradient(top, $col_org_brown, $col_org_darkest);


  }
}

div#flexipea ul {
  width: 100%; 
  margin: 0.375em auto 0.5em;
  
  &:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
}

div#flexipea ul li {
  color: $col_white_second-off; 
  text-align: left; 

  width: 84.89968404423385%; 
  // padding: 0 0 0.375em 2.53791469194313em; 
  
  text-transform: none; 
  text-decoration: none; 
  font: normal 1.28125em/0.71875em $fnt_Cambria; 
  letter-spacing: .075em; 
  
  -moz-text-shadow: 0 1px 0 $rgba_80_mid-grey-orange; 
  -webkit-text-shadow: 0 1px 0 $rgba_80_mid-grey-orange;
  text-shadow: 3px 3px 5px $col_mid-grey-orange; 
}

div#flexipea ul li span {
  color: $col_white_second-off; 
  text-align: left; 

  padding: 0 0 0.375em 0;             
  text-transform: none; 
  text-decoration: none; 
  
  // font: normal 100%/0.625 $fnt_Cambria; 
  font: normal 100%/1.0625 $fnt_Cambria; 
  vertical-align: baseline; 
  letter-spacing: .075em; 
  
  -moz-text-shadow: 0 1px 0 $rgba_80_mid-grey-orange; 
  -webkit-text-shadow: 0 1px 0 $rgba_80_mid-grey-orange;
  text-shadow: 3px 3px 5px $col_mid-grey-orange; 
}

div#flexipea div {
  color: $col_white_second-off; 
  // padding: 0.421875em 3.75% 0 0.875em; 
  padding: 0.421875em 3.75% 0.5em 0.875em; 
  letter-spacing: 0.1em; 
  
  -moz-text-shadow: 0.1875em 0.1875em 0.3125em $rgba_80_dark-grey-orange; 
  -webkit-text-shadow: 0.1875em 0.1875em 0.3125em $rgba_80_dark-grey-orange;
  text-shadow: 0.1875em 0.1875em 0.3125em $col_mid-grey-orange; 

  font: 1.375em $fnt_Cambria; 
}

div#flexipea ul li {
  padding: 0 0 0.375em 2.53791469194313em; 
}

section#newPresentation h4 {
  padding-top: 25px; 
  text-transform: lowercase; 
  text-align: center; 
  text-shadow: 3px 3px 3px $col_dark-grey-orange; 
  -moz-text-shadow: 3px 3px 3px $rgba_80_dark-grey-orange; 
  -webkit-text-shadow: 3px 3px 3px $rgba_80_dark-grey-orange; 
  font: normal 1.125em $fnt_Trebuchet; 
}

section#newPresentation h4 strong {
  font-weight: normal; 
  padding: 0 1em; 

  box-shadow: $rgba_50_black 0 2px 4px; 
  -webkit-box-shadow: 0 2px 4px $rgba_50_black; 
  -moz-box-shadow: $rgba_50_black 0 2px 4px; 
  
  -webkit-border-radius: 1.6179552% 1.6179552% 1.6179552% 1.6179552%; 
  -moz-border-radius: 1.6179552% 1.6179552% 1.6179552% 1.6179552%; 
  border-radius: 1.6179552% 1.6179552%; 
  
  background: $col_org_mid; 
  background: url("../images/mybg.png") repeat-x 0 0%; 
  background: linear-gradient(top, $col_org_mid 22%, $col_org_mid 44%, $col_org_darkest 55%, $col_org_darkest 77%); 
  background: -webkit-linear-gradient(top, $col_org_mid 22%, $col_org_mid 44%, $col_org_darkest 55%, $col_org_darkest 77%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22%, $col_org_mid), color-stop(44%, $col_org_mid), color-stop(55%, $col_org_darkest), color-stop(77%, $col_org_darkest)); 
  
  background-image: url("../images/mybg.png") repeat-x 0 0%, -webkit-gradient(linear, left bottom, left top, color-stop(0.22, $col_org_darkest), color-stop(0.44, $col_org_mid), color-stop(0.55, $col_org_darkest), color-stop(0.77, $col_org_darkest)); 
  background-image: -moz-linear-gradient(top, $col_org_darkest 22%, $col_org_darkest 44%, $col_org_mid 55%, $col_org_mid 77%); 
  background-image: -o-linear-gradient(top, $col_org_darkest 22%, $col_org_darkest 44%, $col_org_mid 55%, $col_org_mid 77%); 
  
}

// 2nd experience: max 600
@media( max-width: 600px ){
  h2 {
    font-size: 1.4em; 
  }

  p {
    padding-left: 3.1875%; padding-right: 0.375em; padding-bottom: 1.125em; 
  }
  h4 {
    font-size: 1.999em; 
    line-height: 1.04; 
  }

  // ol li {
  //   img {}
  //   strong {}
  // }

  // div.newInny {
    // line-height: 1.4;
  // }
  
  div.inner div img {
    max-width: 16.09375em;
  } 

  section {
    float: none; 
    width: auto;

    &#introduction { margin-top: 0; }
    &#newArticle { margin-top: 0; }
    
    &#newPresentation {
      float: none; 
      width: auto;
    }
  }

  div#flexipea ul {
    background: none; 
    border: 0; 
    position: inherit; 
    width: 100%;
  }
  div#flexipea ul li {
    width: 79.1496840442338%; 
    padding: 0 0 0.375em 17.7459518167457%;
  }

}

// 3rd experience: max 400
@media( max-width: 400px ){
  
  ol li {
    margin-right: 3.317535545023696682%; /* 21px / 633px */ 
    width: 48.341232227488151658%;  /* 306px / 633px */

    &:nth-child(even) { 
      margin-right: 0; 
    }
    
    &:nth-child(odd) { 
      margin-right: 3.317535545023696682%; /* 21px / 633px */ 
      width: 48.341232227488151658%; /* 306px / 633px */ 
    } 
    // img {}
    // strong {}
  }

  div.inner div img {
    // max-width: 11.875em; 
    // max-width: 100%; 
    max-width: 95%; 
  } 

  section {
    // margin-top: -117px; // speculative

    // &#introduction {
      // margin-top: -117px; // original
    // }

    &#newArticle {
      margin-top: .3125em;
    }
  } 

  div#flexipea ul li {
    width: 77.8371840442338%; 
    padding: 0 0 0.375em 18.9576421800948%;
  }

}

// 4th LAST experience: MIN 1300
@media( min-width: 1300px ){
  
  ol li {
    // end tbd
    width: 13.902053712480252764%; 
    margin-right: 3.317535545023696682%;

    &:nth-child(6), &:nth-child(12), &:nth-child(18), &:nth-child(24), &:nth-child(30), &:nth-child(36), &:nth-child(42), &:nth-child(48), &:nth-child(54) {
      width: 13.902053712480252764%; 
      margin-right: 0; 
    }

    &:nth-child(3), &:nth-child(9), &:nth-child(15), &:nth-child(21), &:nth-child(27), &:nth-child(33), &:nth-child(39), &:nth-child(45), &:nth-child(51) { 
      width: 13.902053712480252764%; 
      margin-right: 3.317535545023696682%; 
    } 
    // end tbd

    // img {}
    // strong {}
  }

  div.inner div img {
    margin: 1.5625% auto 0; 
    max-width: 16.09375em; /* 80% */ 
    // max-width: 80%; /* 16.09375em */ 
  }

  section {
    // margin-top: -117px; // speculative

    &#introduction {
      margin-top: -117px; // original
    }

    &#newArticle {
      margin-top: .3125em;
    }
  } 

  div#flexipea ul {
    background: none; 
    border: 0; 
    position: inherit; 
    width: 100%;
  }
  div#flexipea ul li {
    width: 86.75%; 
    padding: 0 0 0.375em 9.90550947867302%; 
  }

}