
div.inner #tableCase {

  padding: 1.5em;

  table { 

    padding: 0 5%;
    width: 100%;
    width: calc( 100% - 10% ); 
    border-collapse: collapse;

    // thead {}
    // tbody {}
    // tr {}

    td, th {
      padding: 12rem / 2;
      border: .2rem solid #002900;
      text-align: center;
    }

    th {
      background-color: #00290063; /*#2f3e2f63*/
      font-size: 120%;
    }
    
    td {
      font-size: 90%;
      color: #002900; /*#520101*/
    }

    tr:nth-of-type(odd) {
      background: rgba(255,207,117,0.63);
    }

    tr:nth-of-type(even) {
      background: rgba(230, 149, 0, 0.63);
    }

  }

}

/* div.inner #tableCase {

  padding: 1.5em;

  table { 

    display: block;
    padding: 0 5%;

    tr {
      display: inline-block;
      width: 100%;
    }

    thead {

      display: block;
      // text-align: center;
      // margin: 0 auto;

      th {
        display: inline-block;
        width: 50%;
        font-size: 120%;
      }

    }
    

    tbody {

      display: block;

      td {
        font-size: 90%;
      }

    }

  }

} */