---
layout: page.njk
title: 404-- Oops! Page not found.
permalink: 404.html
eleventyExcludeFromCollections: true
---

<section id="introduction">
  <div id="resistant" class="inner">
    
    <h2>Something went sideways. </h2>
    <div id="introPapa"> 
      Please try again!
    </div> 
    
  </div>
</section>