---
layout: home.njk
title: Home
author: don Lucho
eleventyNavigation:
  key: Home
  order: 1
intro_paragraph: These meals are perfect for your hectic schedule. Whether you&rsquo;re ready to hit the gym in the morning, you&rsquo;re on your way to work, at the office, or on a fishing trip&hellip; these meals are ideal for building strong muscles. When they say that &lsquo;a picture is worth a thousand words&rsquo; you can probably imagine one of the delightful selections from this unique menu, too. Just bring some utensils and a big appetite. Send hunger clamoring for the exits with these unique recipes! 
---

{% include "section-idx-a.njk" %}

{% include "section-idx-b.njk" %}