---
pagination:
  data: collections.all
  size: 20
layout: page.njk
permalink: /page-list/{% if pagination.pageNumber > 0 %}{{pagination.pageNumber}}/{% endif %}
title: Page List
eleventyNavigation:
  key: Page List
  order: 3
# eleventyExcludeFromCollections: true
---

<section id="introduction">
  <div id="resistant" class="inner">
    
    <h2> {{ title }} </h2>
    
    <div id="tableCase"> 
      
      <table>
        <thead>
          <th>Page Title</th>
          <th>URL</th>
        </thead>
        <tbody>
          {%- for entry in collections.all -%}
            <tr>
              <td> {{entry.data.title}} </td>
              <td><a href="{{entry.url}}"><code>{{entry.url}}</code></a></td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>

    </div>
    
  </div>
</section>