---
layout: page.njk
permalink: /tags/
title: Tags
eleventyNavigation:
  key: Tags
  order: 2
# eleventyExcludeFromCollections: true
---

<section id="introduction">
  <div id="resistant" class="inner">
    
    <h2> {{ title }} </h2>
    
    <div id="tableCase"> 
      
      <table>
        <thead>
          <th>Tag</th>
          <th>URL</th>
        </thead>
        <tbody>
          {%- for tag in collections.tagList -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <tr>
              <td> {{ tag }} </td>
              <td><a href="{{ tagUrl }}"><code>{{ tag }}</code></a></td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>

    </div>
    
  </div>
</section>