---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: page.njk
permalink: /tags/{{tag}}/
renderData:
  title: Items tagged "{{tag}}"
eleventyExcludeFromCollections: true
---

<section id="introduction">
  <div id="resistant" class="inner">
    
    <h2> {{ renderData.title }} </h2>
    
    <div id="introPapa">
      
      {# <div>Continue here...</div> #}
      {% set postslist = collections[tag] %}
      {% include "collection-of-tags.njk" %}

    </div>
    
  </div>
</section>